* {
  margin: 0;
  padding: 0;
}
.margen {
  margin: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex !important;
  align-items: center !important;
}

.background {
	background: black;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	color: white;
}


.tlight {
	margin-top: 50px;
	position: relative;
	font-size: 20px;
	letter-spacing: 10px;
	color: rgba(130, 3, 189, 0.849);
	text-align: center;
	-webkit-box-reflect: below 1px
		linear-gradient(transparent, rgba(130, 3, 189, 0.849));
	line-height: 0.7em;
	outline: none;
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0%,
	18%,
	20%,
	50.1%,
	60%,
	65.1%,
	80%,
	90.1%,
	92% {
		color: rgba(130, 3, 189, 0.849);
		box-shadow: none;
	}

	18.1%,
	20.1%,
	30%,
	50%,
	60.1%,
	65%,
	80.1%,
	90%,
	92.1%,
	100% {
		color: white;
		text-shadow: 0 0 10px rgba(176, 45, 236, 0.952),
			0 0 20px rgba(176, 45, 236, 0.952), 0 0 40px rgba(176, 45, 236, 0.952),
			0 0 80px rgba(176, 45, 236, 0.952), 0 0 160px rgba(176, 45, 236, 0.952);
	}

}

.button_form {
	position: relative;
	display: inline-block;
	padding: 8px 30px;
	color: white;
	background: black;
	text-decoration: none;
	overflow: hidden;
	transition: 0.1s;
	border: 0 solid black;
}

.button_form:hover
{
	top: 0;
	color:#862d59;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay: 0.1s;
}

.box:hover
{
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;

}

.table{
	color: white !important;
}

.button_form1 {
	position: relative;
	display: inline-block;
	padding: 8px 30px;
	color: white;
	background: transparent;
	text-decoration: none;
	overflow: hidden;
	transition: 0.1s;
	border: 0 solid transparent;
}

.button_form1:hover
{
	top: 0;
	color:#862d59;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay: 0.1s;
}

