{% extends "layout.html" %}

{% block title %}
    {{consult[0]['title']}}
{% endblock %}

{% block main %}

        <div class=" text-center text-white bg-dark margen">
          <img src="http://covers.openlibrary.org/b/isbn/{{consult[0]['isbn']}}-M.jpg"  alt="titulo" width="300px">
          <div class="card-body text-white bg-dark">
            <h5 class="card-title">{{consult[0]['title']}}</h5>
          </div>
         </div>
        <div class="card text-center text-white bg-dark">
          <div class="card-body text-white bg-dark">
            <h5>Author: {{consult[0]['author']}}</h5>
            <h5>Published: {{consult[0]['year']}}</h5>
            <h5>ISBN: {{consult[0]['isbn']}}</h5>
          </div>
        </div>
{% endblock %}