{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}


        <nav class="navbar navbar-dark bg-dark">
          <form class="form-inline" action="/search" method="POST">
            <input class="form-control mr-sm-2 box" type="search" placeholder="books" aria-label="books" name="books">
            <button class="button_form1 my-2 my-sm-0" type="submit">Search</button>
          </form>
        </nav>


        <table class = "table">
          <thead>
            <tr>
              <th>isbn</th>
              <th>title</th>
              <th>author</th>
              <th>year</th>
            </tr>
          </thead>
          <tbody>
              {% for book in books %}
                  <tr>
                    <td><a href="/book/{{book['isbn']}}">{{book.isbn}}</a></td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.year}}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
{% endblock %}